@media only screen and (max-width: 600px) {
  header {
    border-bottom-left-radius: 70px;
  }

  .section-content {
    margin-top: 114px;
  }

  section {
    flex-flow: column;
    margin: 24px;
    padding: 16px;
    margin-bottom: 88px;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
  }

  .snapshoot {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .tonic {
    font-size: 10vw;
    font-weight: bolder;
  }

  .content-section-sub-1 li {
    font-size: 4vw;
  }

  .content-section-sub-1 li:nth-child(1) {
    font-weight: 600;
  }

  footer {
    border-top-right-radius: 70px;
  }

  .contact_me {
    border-top-left-radius: 70px;
    padding: 100px 25px 0 25px;
    height: 879px;
  }
}
